body {
  font: 34px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  color: white;
  text-align: center;
  background-color: cornflowerblue;
}

header {
  font-size: 30px;
  color: #dcff45;
  text-align: center;
  margin-bottom: -20px;
  text-shadow: 2px 2px 5px #333;
  text-decoration: underline;
}

ol, ul {
  list-style-type: none;
  padding-left: 0px;
  color: yellow;
  font-size: 34px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: -15px;
  padding-left: 10px;
  color: black;
  font-weight: bold;
  width: 280px;
}

.square {
  background: #fff;
  border: 3px solid #333;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.game-info {
  margin-left: 50px;
}

.hbuttons {
  margin-left: 15px;
  background-color: white;
  width: 160px;
  height: 30px;
  vertical-align: middle;
  color: red;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 3px 3px 4px black;
  margin-bottom: 10px;
}